@import "./helpers/gui";
@import "./helpers/grid";
@import "~normalize-scss/sass/normalize";
//@import "./helpers/fonts";

// Blocks styles
@import "../../blocks/**/*.scss";

// Components styles
@import "../../components/**/*.scss";

*, *::before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

// Example styles. Delete it if necessary
::-ms-clear {
  display: none;
}

html {
  font-size: 14px;
}

body {
  //font-family: 'Futura PT', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
